{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .header {
        color: #37676E;
        padding-left: 120px;
    }
    .header h1 {
        font-weight: bolder;
        padding-top: 50px;
        font-size: 90px;}
    .header span {
        color: #B91A00
    }
    .header h6 {
        font-size: 22px;
    }

    .btn-default{
    background-color: #37676E;
    color:#FFF;
    border-color: #2F3E48;
    }
  
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {   
    background-color: #BF3939;
    color:#FFF;
    border-color: #31347B;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<head>
    <title>Artikel</title>
</head>
<body>
    <div class="col-12 header">
        <h1>ARTI<span>KEL</span></h1>
        <h6>Yang perlu kalian baca lebih lanjut!</h6>
    </div>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in object_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        {% if post.image %}
                        <img src="{{ post.imageURL }}" style="width:300px; padding-bottom: 10px;">
                        {% elif post.image is None %}
                        <p>&nbsp;</p>
                        {% endif %}
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}...</p>
                        <a href="{% url 'artikel:post_detail' post.slug  %}" class="btn btn-default">Baca Lebih Lanjut &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{%endblock%}