{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.btn{
    border-radius: 20px;
}

h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
}
</style>

<div class="container h-100" style="height: 250px">
    <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12" method="POST" style="margin-top: 150px;">
        <h3>Boleh ceritakan </br> apa masalahmu ?</h3> </br>
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'feedback:save' %}" >
        <input type="submit" value="Submit" class="btn btn-lg" style='color: white; background-color: #37676E;'></input>
        </a>
        <!--  
        <div class="container">
          <input type="text" class="form-control form-rounded" name = 'nama' placeholder="Nama......."></input>
          <br/>
          <textarea class="form-control form-rounded" name= 'pesan' rows="8"></textarea>
          <br/>     
          <button type="button" class="btn btn-danger btn-sm">Submit</button>
        ---->
    </form>   
    </div>
</div>

{% endblock %} 