{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.btn{
    border-radius: 20px;
}

h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
    text-align: center;
    margin-top: 150px;
}

.bttn{
    border: none;
    background: none; 
    outline: none; 
    text-decoration: none; 
    align-items: center;
}

@media (max-width: 1400px){
    h3{
        font-size: 40px;
    }
}
</style>

<div class="container h-100" style="height: 100px;">
    <div class="row h-100 justify-content-center align-items-center">
        <h3>Bagaimana</br> pengalamanmu</br> dengan website </br> kami ?</h3>
    </div>
        <a href="{% url 'feedback:pengalaman' %}" class="bttn" role="button" aria-pressed="true" style="margin-left: 340px; margin-top: 50px;"><img src="{% static 'images/good.svg' %}" width="200" height="200"></a> 
        <a href="{% url 'feedback:masalah' %}" class="bttn" role="button" aria-pressed="true" style="margin-left: 40px; margin-top: 50px;"> <img src="{% static 'images/bad.svg' %}" width="200" height="200"></a> 
</div>
{% endblock %} 