{% extends 'base.html' %}
{% load static %}
{% block content %}

<section style="height: 700px;">
<div class="container h-100" style="height: 100px;">
    <div class="row h-100 justify-content-center align-items-center">
        <h1>Terima kasih cerita Anda sudah kami terima</h1>
    </div>
</div>
</section>
{% endblock %} 