{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .header h1{
        color: #37676E;
        font-weight: bolder;
        font-size: 70px;
        padding-top: 90px;
    }
    .d-flex img{
        width: 130px;
    }
    .d-flex .flex-column {
        padding-right: -40px;
    }
    p span {
        margin-right: auto;
    }
    .checkout {
        background-color: #37676E;
        color: white;
    }
    .checkout:hover {
        background-color: white;
        border-color: #37676E;
        color: #37676E;
    }
    .lanjut {
        border-color: #37676E;
        color: #37676E;
    }
    .lanjut:hover {
        background-color: #37676E;
        color: white;
    }
    a.update-cart {
        height: 15px;
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h1>KERANJANG</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-7 col-md-12 col-sm-12">
            {% for item in items %}
            <div class="d-flex">
                <div class="d-flex flex-column mr-5"><img src="{{ item.product.imageURL }}" alt="{{ item.product.name }}"></div>
                <div class="d-flex flex-column ml-3">
                    <p><strong>Items:</strong> {{ item.product.name}}</p>
                    <p><strong>Harga:</strong> Rp{{ item.product.price|floatformat:3 }}</p>
                    <div class="d-flex flex-row pb-1">
                        <p class="my-auto"><strong>Qty:</strong> {{ item.quantity }}</p>
                        <div class="d-flex flex-column pl-2 pb-3">
                            <a data-product={{item.product.id}} data-action="add" class="update-cart"><i class="fas fas fa-caret-up"></i></a>
                            <a data-product={{item.product.id}} data-action="remove" class="update-cart"><i class="fas fa-caret-down"></i></a>
                        </div>
                    </div>
                    <p><strong>Total:</strong> Rp{{ item.get_total|floatformat:3 }}</p>
                </div>
                <div class="d-flex flex-column ml-auto my-auto mr-3">
                    <a data-product={{item.product.id}} data-action="delete" class="update-cart"><i style="color:#B91A00 ;" class="fas fa-times	"></i></a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ml-5">
            <p>Subtotal <span class="float-right">Rp{{order.get_cart_total|floatformat:3}}</span></p>
            <hr>
            <p>Ongkos Kirim <span class="float-right">Gratis</span></p>
            <hr>
            <p><strong>Total <span class="float-right">Rp{{order.get_cart_total|floatformat:3}}</span></strong></p>
            <br><br><br><br>
            <a href="{% url 'produk:produk' %}" class="btn lanjut">Lanjut Belanja</a>
            <a href="{% url 'produk:checkout' %}" class="btn float-right checkout">Checkout</a>
        </div>
    </div>
    
</div>

{% endblock content %}