{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.btn{
    border-radius: 20px;
}

h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
}
</style>
<div class="container h-100" style="height: 250px;">
    <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12" method="POST" style="margin-top: 150px;">
        <h3>Boleh Berikan </br> Pesanmu ?</h3> </br>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-lg" style='color: white; background-color: #37676E;'></input>
    </form>   
    </div>
</div>

{% endblock %} 