{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.header span {
    color: #B91A00
}
.btn{
    border-radius: 20px;
}
.header {
    color: #37676E;
}
.header h1{
    font-size:120px;
}
h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
}
p{
    font-size:18px;
}
.btn-default{
    background-color: #37676E;
    color:#FFF;
    border-color: #2F3E48;
    }
  
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {   
    background-color: #BF3939;
    color:#FFF;
    border-color: #31347B;
    }

</style>

<table class="table">
    <tbody>
        <div class="col-12 header" style="margin-left: 100px;">
            <h1>PE<span>SAN</span></h1>
            <h5>&nbsp;Yang Telah Diberikan Oleh Pengunjung!</h5>
        </div>
        <p>&nbsp;</p>
        <div class="card" style="width: 70rem;margin-left: 100px;">
            <div class="card-body">
                {% for tabel in inp %}
                    <p class="card-title" style="color: #37676E"><b>{{tabel.nama}}</b></p>
                    <p class="card-text" style="color: #37676E">Pesan: {{tabel.pesan}}</p>
                {% endfor %}
            </div>
        </div>
        <br>
        <a href="/datas/"><button type="button" class="btn btn-default btn-lg" style="margin-left:570px;">Kirim Pesanmu!</button></a>
     </tbody>
</table>
{% endblock %}